.signin-block__input {
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background: #FFFFFF repeat-x;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
}

#login-password {
  margin-top: 12px;
}

.signin-block__input:focus {
  outline: none !important;
}