.login-route-error-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-route-error-info {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-route-error-info > svg {
  color: red;
}

.login-route-error-info > span {
  padding-left: 10px;
  color: red;
}

.login-route-error-info > span > a{
  text-decoration: none;
  font-weight: 600;
  color: red;
}

.login-route-error-info > svg {
  color: red;
}