.registration-block__registration-button {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-block-registration-button {
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    background-color: #7FC8FF;
}

.registration-block-registration-button > span {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.registration-block-registration-button:hover {
    cursor: pointer;
    filter: opacity(80%)
}

.registration-block-registration-button:active {
    transform: scale(0.95);
}

.registration-block__loader {
    margin-left: 10px;
    position: relative;
    top: 3px;
    text-align: center;
}

.registration-block-loader {
    width: 16px;
    height: 10px;
}
