.registration-block__input {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.registration-block__input > input {
    font-size: 17px;
    border: 2px solid #f8f8f8;
    color: #1d2129;
    height: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.registration-block__input > input:focus {
    outline: none;
}

.registration-block__input__error-icon {
    position: absolute;
    margin-left: 80%;
    color: red;
}

.registration-block__input__error-icon:hover {
    cursor: pointer;
}

.registration-block__input__error-icon:active {
    transform: scale(0.95);
}

