.registration-block__error {
    width: 80%;
    margin-bottom: 10px;
    background: #ffebe8;
    border: 1px solid #dd3c10;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #4E6482;
}

.registration-block__error__description {
    line-height: 15px;
}