.registration-block__body {
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.registration-block__body__group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}