.confirm-email-route-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6F6FF;
}

.confirm-email-route-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-email-route-header > h1 {
    color: #7FC8FF;
    padding-left: 20px;
}

.confirm-email-route-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7FC8FF;
}

.confirm-email-route-body > span {
    font-size: 16px;
}

.confirm-email-route-footer > a {
    padding-top: 30px;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.confirm-email-route-footer__button-back {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    border: 3px solid #7FC8FF;
}

.confirm-email-route-footer__button-back > span {
    white-space: nowrap;
    color: #7FC8FF;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.confirm-email-route-footer__button-back:hover {
    cursor: pointer;
}

.confirm-email-route-footer__button-back:active {
    transform: scale(0.95);
}

@media only screen  and (max-width:650px) {
    .confirm-email-route-header {
        padding: 0 20px;
    }
    .confirm-email-route-header > h1 {
        font-size: 32px;
    }
    .confirm-email-route-footer > a {
        padding: 30px 20px;
    }
    .confirm-email-route-body {
        padding: 0 20px;
    }
}

@media only screen  and (max-width:500px) {
    .confirm-email-route-header > svg {
        width: 150px;
    }
    .confirm-email-route-header > h1 {
        font-size: 26px;
    }
    .confirm-email-route-header {
        padding: 0 12px;
    }
    .confirm-email-route-body > span {
        font-size: 16px;
    }
    .confirm-email-route-body {
        padding: 0 12px;
    }
    .confirm-email-route-footer > a {
        padding: 30px 12px;
    }
    .confirm-email-route-footer__button-back {
        padding: 6px 10px;
    }
    .confirm-email-route-footer__button-back > span {
        font-size: 14px;
    }
}

@media only screen  and (max-width:350px) {
    .confirm-email-route-header > svg {
        width: 100px;
    }
    .confirm-email-route-header > h1 {
        padding-left: 10px;
    }
}