.error-route-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;     
}

.error-route-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7FC8FF;
  font-size: 22px;
}

@media only screen  and (max-width:650px) {
  .error-route-header__title {
      padding: 0 20px;
  }
  .error-route-header__title > h1 {
      font-size: 32px;
  }
}

@media only screen  and (max-width:500px) {
  .error-route-header__logo > svg {
      width: 270px;
  }
  .error-route-header__title > h1 {
      font-size: 26px;
  }
  .error-route-header__title {
      padding: 0 12px;
  }
}