.error-route-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6F6FF;
}


.error-route-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;     
}


.error-route-header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7FC8FF;
    font-size: 22px;
}

.error-route-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7FC8FF;
}

.error-route-footer > a {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.error-route-footer__button {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    border: 3px solid #7FC8FF;
}

.error-route-footer__button > span {
    white-space: nowrap;
    color: #7FC8FF;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-route-footer__button:hover {
    cursor: pointer;
}

.error-route-footer__button:active {
    transform: scale(0.95);
}

@media only screen  and (max-width:650px) {
    .error-route-header__title {
        padding: 0 20px;
    }
    .error-route-header__title > h1 {
        font-size: 32px;
    }
    .error-route-footer > a {
        padding: 30px 20px;
    }
    .error-route-body {
        padding: 0 20px;
    }
}

@media only screen  and (max-width:500px) {
    .error-route-header__logo > svg {
        width: 270px;
    }
    .error-route-header__title > h1 {
        font-size: 26px;
    }
    .error-route-header__title {
        padding: 0 12px;
    }
    .error-route-body > span {
        font-size: 16px;
    }
    .error-route-body {
        padding: 0 12px;
    }
    .error-route-footer > a {
        padding: 30px 12px;
    }
    .error-route-footer__button {
        padding: 6px 10px;
    }
    .error-route-footer__button > span {
        font-size: 14px;
    }
}