.login-description {
  display: flex;
  align-self: start;
  align-items: center;
}

.login-description > h2 {
  color: #4E6482;
}

.login-description > span {
  color: rgb(187,189,201);
}

@media only screen  and (max-width:320px) {
  .login-description {
      padding-top: 20px !important;
  }
}