.birthday-field {
    width: 100%;
    padding-top: 10px;
}

.birthday-field__description {
    display: flex;
    align-items: center;
    color: rgb(187,189,201);
    position: relative;
}

.birthday-field__selects {
    width: 100%;
    padding-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.birthday-field__block {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.birthday-field__block__select {
    width: 100%;
    font-size: 17px;
    border: 2px solid #f8f8f8;
    color: #1d2129;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.birthday-field__block__select:focus {
    outline: none;
}
