.birthday-field {
    width: 100%;
    padding-top: 20px;
}

.birthday-field__description {
    display: flex;
    align-items: center;
    color: rgb(187,189,201);
    position: relative;
}

.birthday-field__description > button {
    width: 10px;
    height: 10px;
    padding-left: 12px;
}

.birthday-field__description svg {
    width: 15.6px;
    height: 15.6px;
}


.birthday-field__error-icon {
    position: absolute;
    margin-left: 30%;
    cursor: pointer;
    color: red;
}

.birthday-field__selects {
    width: 100%;
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.birthday-field__block {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.birthday-field__block__select {
    width: 100%;
    font-size: 17px;
    border: 2px solid #f8f8f8;
    color: #1d2129;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.birthday-field__block__select:focus {
    outline: none;
}
