.registration-block__header {
   width: 100%;
}

.registration-block__header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.registration-block__header__logo_1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.registration-block__header__logo_1 > span {
    padding-left: 15px;
    color: #4E6482;
    font-weight: 700;
}

.registration-block__header__logo_2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.registration-block__header__logo_2 > button > span > svg {
    color: #2E81F4;
}

.registration-block__header__logo_2 > button:hover {
    background-color: #D6F6FF;
}

.registration-block__header__description {
    padding-top: 20px;
    display: flex;
    align-self: start;
    align-items: center;
}

.registration-block__header__description > h2 {
    color: #4E6482;
}

.registration-block__header__sub-description {
    display: flex;
    align-self: start;
    align-items: center;
}

.registration-block__header__sub-description > span {
    color: rgb(187,189,201);
}